#content{
    height: auto;
    margin: auto;
    position: absolute;
    top : 80px;
    left: 120px;
    width : auto;
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 300px 0px 300px rgba(89, 89, 89, 0.1);
    display: none;
    z-index: 5;
    background-color: white;
}

#dropdown:hover #content{
    display: inline-block;
}

#dropdown:hover {
    border-bottom: 3px solid #E72744;
}


#content-last{
    height: auto;
    margin: auto;
    position: absolute;
    top : 80px;
    left: 400px;
    width : 600px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 600px 0px 600px rgba(89, 89, 89, 0.1);
    display: none;
    z-index: 5;
    background-color: white;
}

#dropdown-last:hover #content-last{
    display: inline-block;
}

#dropdown-last:hover {
    border-bottom: 3px solid #E72744;
}

#dropdown_content_profile{
    height: 400px;
    margin: auto;
    position: absolute;
    top : 70px;
    right: 120px;
    width : 270px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 14px;
    background-color: white;
    border: 1px solid gainsboro;
    /* box-shadow: -500px 600px 20px 800px rgba(89, 89, 89, 0.1); */
    display: none;
    z-index: 10;
}

.account_login{
    border: 1px solid gainsboro;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    font-weight: bold;
    color: #f42575;
    margin-bottom: 25px;
}

#profile_dropdown:hover #dropdown_content_profile{
    display: inline-block;
}



  .cart {
    position: relative;
    display: block;
    width: 28px;
    height: 28px;
    height: auto;
    overflow: hidden;
  }

  #cart-icon{
    margin-top: 2px;
  }
   
    .count {
      position: absolute;
      /* margin-top: -2px; */
      top: 0;
      right: 0;
      z-index: 2;
      font-size: 11px;
      border-radius: 50%;
      background: #d60b28;
      width: 16px;
      height: 16px;
      line-height:18px;
      display: block;
      text-align: center;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }

    
  
@media only screen and (max-width: 1472px) {
    #desktop_nav{
        display: none;
    }
    #mobile_nav{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    }
}

@media only screen and (min-width: 1473px) {
    #mobile_nav{
        display: none;
    }
}