#content{
    height: auto;
    margin: auto;
    position: absolute;
    top : 80px;
    left: 120px;
    width : auto;
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 300px 0px 300px rgba(89, 89, 89, 0.1);
    display: none;
    z-index: 5;
}

#dropdown:hover #content{
    display: inline-block;
}

#dropdown:hover {
    border-bottom: 3px solid #E72744;
}


#content-last{
    height: auto;
    margin: auto;
    position: absolute;
    top : 80px;
    left: 400px;
    width : 600px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
    font-size: 14px;
    box-shadow: 0px 600px 0px 600px rgba(89, 89, 89, 0.1);
    display: none;
    z-index: 5;
}

#dropdown-last:hover #content-last{
    display: inline-block;
}

#dropdown-last:hover {
    border-bottom: 3px solid #E72744;
}

#dropdown_content_profile{
    height: 400px;
    margin: auto;
    position: absolute;
    top : 80px;
    right: 120px;
    width : 270px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;
    font-size: 14px;
    border: 1px solid gainsboro;
    /* box-shadow: -500px 600px 20px 800px rgba(89, 89, 89, 0.1); */
    display: none;
    z-index: 10;
}

.account_login{
    border: 1px solid gainsboro;
    padding: 5px 15px 5px 15px;
    margin-top: 10px;
    font-weight: bold;
    color: #f42575;
    margin-bottom: 25px;
}

#profile_dropdown:hover #dropdown_content_profile{
    display: inline-block;
}