.compMain{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    border-top: 1px solid rgb(227, 227, 227);

}

.sidecomp{
    width: 15%;
    /* border-top: 1px solid rgb(227, 227, 227); */
    padding-top: 30px;
   padding-left: 25px;
}

.prodcomp{
    width: 83%;
    /* border-top: 1px solid rgb(227, 227, 227); */
    border-left: 1px solid rgb(227, 227, 227);
    padding-left: 30px;
    padding-top: 30px;

}

.compselect{
    /* text-align: left; */
    border: none;
    width: 180px;
    font-weight: 700;
}

.compdiv{
    /* margin-top: 100px; */
display: flex;
/* align-items: center; */
margin-left: 72%;
padding: 5px;
margin-bottom: 15px;
width: 260px;

border: 1px solid rgb(197, 196, 196);

}

.compopt{
    border: none;
    width: auto;

}

.compfilter{
    font-weight: 700;
    font-size: 17px;
    margin-left: 30px;
}

.compmaindiv{
    /* display: flex;
    align-items: center; */
    margin-top: 100px;
   display: flex;
}