.check1{
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
   display: flex;
   flex-direction: column;
   gap: 10px;
   color: black;
}

.sidehead{
    color: black;
    font-size: 15px;
    font-weight: 700;
    /* padding-left: 10px; */
    padding-top: 20px;
    padding-bottom: 15px;
}

.sidemain input{
    accent-color:#FF3F6C;
    align-items: center;
    color: gray;
}
.sidemain{

    font-size: 14px;
    color: rgb(105, 105, 105);
}
.sidemain input[type='radio']{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.sidemain input[type='checkbox']{
    width: 15px;
    height: 15px;
    margin-right: 10px;

}
.check2{
    border-bottom: 1px solid rgb(227, 227, 227);
    padding-bottom: 20px;

}
