.pgallarymain{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: space-around;
    gap: 25px;
}
.pgallarymain img{
    width: 210px;
    height: 280px;
    position: relative;
    z-index: -1;
    
}
/* .protop{
    font-size: 20px;
    font-weight: 700;
    margin-left:5%;
    margin-top: -100px;
    margin-bottom: 50px;
} */
.pgalbrand{
    font-weight: 700;
}
.pgalbimg{
    margin-top: -33px;
    margin-left: 10px;
}
.pgalprice{
    font-weight: 600;
    font-size: 14px;
    
}
.pgrate{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.63);
    z-index: 1;
    width: 40px;
    padding: 4px;
    padding-left: 7px;
    height: 20px;
    border-radius: 3px;
}
.pgicon{
    color: #72BFBC;
}
.pgratetext{
font-size: 11px;
font-weight: 700;
}

.pgldesc{
    font-size: 14px;
    color: gray;
}


@media(max-width:1380px){
    .pgallarymain{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: space-around;
        gap: 25px;
    }
}

@media(max-width:1150px){
    .pgallarymain{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: space-around;
        gap: 25px;
    }
}

@media(max-width:700px){
    .pgallarymain{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-around;
        gap: 25px;
    }
}

@media(max-width:450px){
    .pgallarymain{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin: auto;

    }
}




